.upload {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	display: inline-flex;
	background-color: var(--background-secondary);
	border-radius: 4px;
	margin: 0;
	padding: 8px;
	position: relative;
	min-width: 200px;
	max-width: 200px;
	min-height: 200px;
	max-height: 200px;
}

.uploadContainer {
	display: flex;
	height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}

.imageContainer {
	margin-top: auto;
	position: relative;
	min-height: 0;
}

.spoilerContainer {
	height: 100%;
	position: relative;
	-webkit-filter: blur(0);
	filter: blur(0);
	border-radius: 3px;
}

.hidden {
	box-shadow: 0.5px 0.5px 1px 1px rgba(0, 0, 0, 0.1);
}

.spoilerContainer > div {
	height: 100%;
	overflow: hidden;
}

.spoilerWrapper {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	height: 100%;
}

.image {
	text-indent: -9999px;
	border-radius: 3px;
	max-width: 100%;
	object-fit: contain;
}

.spoiler {
	-webkit-filter: blur(44px);
	filter: blur(44px);
	pointer-events: none;
}

.tag {
	position: absolute;
	left: 3px;
	bottom: 6px;
}

.filenameContainer {
	margin-top: auto;
}

.filename {
	margin-top: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	line-height: 18px;
	color: var(--text-normal);
	font-family: var(--font-primary);
}

.actionBarContainer {
	position: absolute;
	top: 0;
	right: 0;
}

.actionBar {
	position: absolute;
	right: 0;
	z-index: 3;
	-webkit-transform: translate(25%, -25%);
	transform: translate(25%, -25%);
	padding: 0;
}

.wrapper {
	background-color: var(--background-primary);
	box-shadow: var(--elevation-stroke);
	display: grid;
	grid-auto-flow: column;
	box-sizing: border-box;
	height: 32px;
	border-radius: 4px;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: start;
	justify-content: flex-start;
	user-select: none;
	transition:
		box-shadow 0.1s ease-out,
		-webkit-box-shadow 0.1s ease-out;
	position: relative;
	overflow: hidden;
}

.button {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	height: 24px;
	padding: 4px;
	min-width: 30px;
	min-height: 30px;
	-webkit-box-flex: 0;
	color: var(--interactive-normal);
	cursor: pointer;
	position: relative;
}

.button:hover {
	background-color: var(--background-modifier-hover);
}

.button:active {
	padding-top: 5px;
	padding-bottom: 3px;
	color: var(--interactive-active);
	background-color: var(--background-modifier-active);
}

.button svg {
	width: 20px;
	height: 20px;
	display: block;
	object-fit: contain;
}

.button.dangerous {
	color: hsl(359, calc(var(1, 1) * 82.6%), 59.4%) !important;
}

.button.dangerous:hover {
	color: hsl(359, calc(var(1, 1) * 82.2%), 62.5%) !important;
}
