.textInputField {
	padding: 15px 20px;
	background-color: var(--background-secondary);
	color: var(--text-normal);
	font-size: 14px;
	border: 0;
	border-radius: var(--radius-xs);
	margin-bottom: var(--spacing-24);
}
