* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #2c2f33;
}

input:focus {
    outline: none;
}

/*  login.html    */
#loginWrapper {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #23272a;
	height: 250px;
	width: 500px;
	border-radius: 5px;
	padding: 10px;
}

#loginLogo {
	height: 175px;
	width: 175px;
	background-color: #23272a;
    border-radius: 100%;
	position: relative;
	left: 50%;
	transform: translate(-50%, -40%);
}

#tokenField {
	display: block;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 5px;
	border-width: 0px;
	color: white;
	font-size: 17px;
	padding: 9px 15px;
	transform: translate(0, -45px);
}

#loginSubmit {
	display: block;
	width: 100%;
	position: relative;
	background-color: #5865F2;
	border-radius: 5px;
	border-width: 0px;
	color: whitesmoke;
	font-size: 17px;
	padding: 9px 15px;
	transform: translate(0, -30px);
}

#loginSubmit i {
	font-size: 20px;
}

#loginSubmit:hover {
	background-color: #4353e4;
	color: white;
	cursor: pointer;
}

.success {
	background-color: #3faf37 !important;
}