.header {
	padding: 24px 8px 0 16px;
	margin: 0;
	height: 40px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.25px;
	font-family: var(--font-display);
	font-weight: 600;
	-webkit-box-flex: 1;
	flex: 1 1 auto;
	color: var(--channels-default);
	cursor: default;
	user-select: none;
}

.memberNav {
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	background: var(--background-secondary);
	height: 100%;
}
.membersWrap {
	-webkit-box-pack: center;
	justify-content: center;
	min-width: 240px;
	position: relative;
	max-height: 100%;
	display: flex;
}

.members {
	overflow: hidden scroll;
	padding-right: 0px;
	background-color: var(--background-secondary);
	width: 240px;
	padding: 0 0 20px;
	-webkit-box-flex: 0;
	flex: 0 0 auto;
	height: auto;
	position: relative;
	min-height: 0;
}

.members::-webkit-scrollbar {
	width: 3px;
	height: 100%;
	background-color: transparent;
}

.members::-webkit-scrollbar-thumb {
	background-color: transparent;
}

.members:hover::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thin-thumb);
}

.members:hover::-webkit-scrollbar-track {
	background-color: var(--scrollbar-thin-track);
}
