.messageHover {
	background-color: rgba(4, 4, 5, 0.07);
}

.replying {
	background-color: var(--brand-experiment-05a) !important;
	border-left: 2px solid var(--brand-experiment) !important;
}

.replying.messageHover {
	background-color: var(--brand-experiment-10a) !important;
}
