.messageHover {
	background-color: rgba(4, 4, 5, 0.07);
}

.replying {
	background-color: var(--brand-experiment-05a) !important;
}

.replying::before {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	bottom: 0;
	pointer-events: none;
	width: 2px;
	background-color: var(--brand-experiment) !important;
}

.replying.messageHover {
	background-color: var(--brand-experiment-10a) !important;
}
