:root {
	--background: #282a36;
	--foreground: #f8f8f2;
	--comment: #6272a4;
	--cyan: #8be9fd;
	--green: #50fa7b;
	--orange: #ffb86c;
	--pink: #ff79c6;
	--purple: #bd93f9;
	--red: #ff5555;
	--yellow: #f1fa8c;
	--font-code: Hack, Consolas, 'Courier New', Courier, monospace;
	--font-normal: 'Source Sans Pro', Arial, Helvetica, sans-serif;
	--round-border-radius: 8px;
	--font-size: 13px;
}

* {
	box-sizing: border-box;

	&::selection {
		background-color: rgba(255, 255, 255, 0.1);
	}
}

strong {
	color: var(--cyan);
}

em {
	color: var(--comment);
}

html,
body {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}
