.wrapper {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--background);
}

.main {
	height: auto;
	width: 700px;
	margin-top: auto;
	margin-bottom: auto;
	padding: 0;
	border-radius: var(--round-border-radius);
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: var(--font-code);
	color: var(--foreground);
}

.header {
	text-align: center;
}

.menhera {
	height: 200px;
	margin: 50px 0;
	border-radius: 50%;
}

.headerText {
	color: var(--cyan);
	margin-bottom: 0;
}

.headerText::before {
	content: ' ';
	display: inline-block;
	width: 20px;
	height: 10px;
	background-color: var(--cyan);
	animation: bob 3s infinite ease-in-out;
}

@keyframes bob {
	0% {
		transform: translate(-20px, -45px);
	}
	50% {
		transform: translate(-20px, -35px);
	}
	100% {
		transform: translate(-20px, -45px);
	}
}

.headerSubText {
	font-weight: 500;
}

.note {
	display: flex;
	align-items: center;
	color: var(--comment);
	border: 1px solid var(--comment);
	padding: 14px 28px;
	border-radius: 8px;
}

.note img {
	display: inline-block;
	height: 20px;
	margin-right: 15px;
}

.footer {
	margin-top: 20px;
	color: rgba(255, 255, 255, 0.5);
}
