@mixin button(
	$default-bg: transparent,
	$hover-bg: transparent,
	$active-bg: transparent,
	$decoration: none
) {
	color: var(--white-500);
	display: flex;
	align-items: center;
	justify-content: center;

	width: auto;
	min-width: 96px;
	height: 38px;

	border: none;
	border-radius: var(--radius-xs);
	font-size: 14px;
	font-weight: 500;
	padding: 0 16px;
	transition:
		background-color 0.17s ease,
		color 0.17s ease;

	background-color: $default-bg;

	&:hover {
		background-color: $hover-bg;
		text-decoration: $decoration;
	}

	&:active {
		background-color: $active-bg;
		text-decoration: $decoration;
	}
}

.small {
	height: 32px !important;
	min-width: 60px !important;
}

.primary {
	@include button(
		var(--brand-experiment),
		var(--brand-experiment-560),
		var(--brand-experiment-600)
	);
}

.secondary {
	@include button(
		var(--button-secondary-background),
		var(--button-secondary-background-hover),
		var(--button-secondary-background-active)
	);
}

.cancel {
	@include button($decoration: underline);
}

.danger {
	@include button(
		var(--button-danger-background),
		var(--button-danger-background-hover),
		var(--button-danger-background-active)
	);
}
