.wrapper {
	background-color: inherit;
	height: auto;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
}

.inner {
	padding: 0 15px 10px;
	display: flex;
}

.field {
	display: block;
	flex-grow: 1;
	height: 44px;
	background-color: var(--channeltextarea-background);
	border-radius: 0 8px 8px 0;
	border-width: 0px;
	font-family: var(--font-primary);
	padding: 12px 18px 12px 0;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.375rem;
	color: var(--text-normal);
}

.uploadWrapper {
	flex-shrink: 0;
	height: 44px;
	width: 60px;
	position: relative;
}

.upload {
	height: 100%;
	width: 100%;
	display: flex;
	padding: 0 18px;
	align-items: center;
	background-color: var(--channeltextarea-background);
	border-radius: 8px 0 0 8px;
	outline: none;
	position: absolute;
	z-index: 0;
}

.uploadWrapper:hover .upload {
	outline: none;
	border-width: 0;
}

.uploadWrapper:hover .upload svg path {
	fill: var(--interactive-hover);
}

.uploadField {
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	cursor: pointer;
}

.underGrowth {
	height: 15px;
}
