.bootloopWrapper {
	height: auto;
	width: 250px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bootloopMedia {
	width: 65%;
	padding: 1em;
}

.bootloopCaption {
	margin: 0;
	margin-top: 20px;
	color: var(--text-normal);
	font-family: var(--font-primary);
	font-weight: 500;
	font-size: 17px;
	text-align: center;
	cursor: default;
	user-select: none;
}

.appMount {
	background-color: var(--background-tertiary);
	position: absolute;
	overflow: hidden;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.app {
	position: relative;
	-webkit-box-flex: 1;
	flex: 1 1 auto;
	z-index: auto;
}

.appInner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--background-tertiary);
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}

.layers {
	position: relative;
	overflow: hidden;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-flex: 1;
	flex: 1 1 auto;
	min-width: 0;
	min-height: 0;
}

.layer {
	background-color: transparent;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}

.container {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	display: flex;
}
