.wrapper {
	height: auto;
	width: 250px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.media {
	width: 65%;
}

.caption {
	margin: 0;
	margin-top: 20px;
	color: var(--text-normal);
	font-family: var(--font-primary);
	font-weight: 500;
	font-size: 17px;
	text-align: center;
	cursor: default;
	user-select: none;
}
