.main {
	height: 100%;
	width: calc(
		100% - var(--guild-nav-width) - var(--channel-nav-width) -
			var(--member-nav-width)
	);
	background-color: var(--background-primary);
	display: flex;
	flex-direction: column;
}

.header {
	width: 100%;
	height: 50px;
	background-color: transparent;
	flex-shrink: 0;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	overflow: hidden;
	user-select: none;
	padding: 0 15px;
	display: flex;
	align-items: center;
}

.header svg {
	height: 24px;
	width: 24px;
	min-width: 24px;
	min-height: 24px;
}

.header h1 {
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	margin-left: 10px;
	font-family: var(--font-display);
	color: var(--header-primary);
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 0;
}

.header h2 {
	font-size: 14px;
	font-weight: 500;
	font-family: var(--font-primary);
	color: var(--header-secondary);
	margin-left: 15px;
	padding: 3px 15px;
	border-left: 1px solid var(--background-modifier-accent);
	white-space: nowrap;
	text-overflow: ellipsis;
}

.header h2 span img {
	height: 1.375em;
	width: 1.375em;
	vertical-align: bottom;
	object-fit: contain;
}

.discordMessages {
	border: none;
	width: 100%;
	flex-grow: 1;
	overflow-y: auto;
	background-color: inherit;
}

.discordMessages::-webkit-scrollbar {
	width: 6px;
	height: 100%;
	background-color: var(--scrollbar-auto-scrollbar-color-track);
}

.discordMessages::-webkit-scrollbar-thumb {
	border-radius: 6px;
	background-color: var(--scrollbar-auto-scrollbar-color-thumb);
}

.scrollerSpacer{
	height: 30px;
}