.base {
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	overflow: hidden;
	flex-direction: column;
	position: relative;
	-webkit-box-flex: 1;
	flex-grow: 1;
}

.content {
	position: relative;
	display: flex;
	-webkit-box-align: stretch;
	align-items: stretch;
	-webkit-box-pack: start;
	justify-content: flex-start;
	min-width: 0;
	min-height: 0;
	-webkit-box-flex: 1;
	flex: 1 1 auto;
}

.sidebar {
	flex-direction: column;
	min-height: 0;
	width: 240px;
	-webkit-box-flex: 0;
	flex: 0 0 auto;
	background: var(--background-secondary);
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	overflow: hidden;
}

.sidebarInner {
	-webkit-box-flex: 1;
	flex: 1 1 auto;
	min-height: 0;
	height: calc(100% - 52px);
}
