.channelNav {
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: stretch;
	align-items: stretch;
	-webkit-box-pack: start;
	justify-content: flex-start;
	position: relative;
	background-color: var(--background-secondary);
	height: 100%;
}

.headerContainer {
	position: relative;
}

.header {
	position: relative;
	font-family: var(--font-display);
	font-weight: 500;
	padding: 0 16px;
	height: 48px;
	box-sizing: border-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	z-index: 3;
	transition: background-color 0.1s linear;
	color: var(--header-primary);
	box-shadow: var(--elevation-low);
}

.name {
	font-size: 15px;
	line-height: 20px;
	font-weight: 600;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-box-flex: 1;
	flex: 1;
	z-index: 1;
}

.channels {
	overflow: hidden scroll;
	padding-right: 12px;
	z-index: 1;
}

.channels::-webkit-scrollbar {
	width: 3px;
	height: 100%;
	background-color: transparent;
	position: relative;
	box-sizing: border-box;
	min-height: 0;
	-webkit-box-flex: 1;
	flex: 1 1 auto;
}

.channels::-webkit-scrollbar-thumb {
	background-color: transparent;
}

.channels:hover::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thin-thumb);
}

.channels:hover::-webkit-scrollbar-track {
	background-color: var(--scrollbar-thin-track);
}

.channels:hover {
	scrollbar-color: var(--scrollbar-thin-thumb) var(--scrollbar-thin-track);
}
