.container {
	width: 100%;
	padding: 6px 8px;
	margin-left: 8px;
	border-radius: 4px;
	font-family: var(--font-primary);
	font-weight: 500;
	font-size: 16px;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: var(--channels-default);
	user-select: none;
	cursor: pointer;
}

.container:not(.selected, .muted, .category):hover {
	background: var(--background-modifier-hover);
	color: var(--interactive-hover);
}

.container svg {
	height: 20px;
	width: 20px;
	min-width: 20px;
	min-height: 20px;
}

.container div {
	margin-left: 7px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.selected {
	background: var(--background-modifier-selected);
	color: var(--interactive-active);
}

.hidden:not(.selected) {
	display: none;
}

.category {
	margin-top: 15px;
	margin-left: 0;
	margin-bottom: -2px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.25px;
	font-family: var(--font-display);
	font-weight: 600;
}

.category svg {
	width: 12px;
	height: 12px;
	min-height: 12px;
	min-width: 12px;
	transform: none;
	transition: 0.17s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.category div {
	margin-left: 3px;
}

.category:hover {
	color: var(--interactive-hover);
	background: transparent;
}

.collapsed svg {
	transform: rotate(-90deg);
}

.muted {
	color: var(--interactive-muted);
	background: transparent;
}

.voiceMembersList {
	padding-left: 36px;
	padding-bottom: 8px;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	flex-direction: column;
	flex-wrap: nowrap;
	-webkit-box-align: stretch;
	align-items: stretch;
	display: flex;
	-webkit-box-pack: start;
	justify-content: flex-start;
}

.memberContainer {
	position: relative;
	height: 32px;
	cursor: pointer;
	display: flex;
	border-radius: 4px;
	-webkit-box-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	align-items: center;
	margin-top: 1px;
	margin-bottom: 1px;
	user-select: none;
}

.avatar {
	margin-right: 8px;
	margin-left: 8px;
	width: 24px;
	height: 24px;
	-webkit-box-flex: 0;
	flex: 0 0 auto;
	border-radius: 50%;
	margin-top: 3px;
	margin-bottom: 3px;
}

.username {
	color: var(--channels-default);
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
	-webkit-box-flex: 1;
	flex: 1 1 auto;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.memberContainer:hover {
	background-color: var(--background-modifier-hover);
}

.memberContainer:hover .username {
	color: var(--interactive-hover);
}

.icons {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-flex: 0;
	flex: 0 0 auto;
	margin-right: 8px;
}

.iconSpacing {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-flex: 0;
	flex: 0 0 auto;
	margin-left: 4px;
}

.iconSpacing svg {
	color: var(--channels-default);
	width: 16px;
	height: 16px;
}

.liveIconSpacing {
	margin-left: 6px;
}

.live {
	background-color: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);
	font-size: 12px;
	line-height: 16px;
	border-radius: 16px;
	padding: 0 6px;
	font-weight: 600;
	font-family: var(--font-display);
	text-transform: uppercase;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	box-sizing: border-box;
	height: 16px;
	min-width: 16px;
	min-height: 16px;
	color: #fff;
	text-align: center;
	-webkit-box-flex: 0;
	flex: 0 0 auto;
}
