.alertBox {
	display: block;
	width: 100%;
	height: auto;
	padding: 18px 20px;
	margin-bottom: 10px;

	overflow: hidden;
	word-wrap: break-word;
	background-color: var(--background-floating);
	font-size: 16px;
	font-family: var(--font-primary);
	font-weight: 500;

	animation: slideIn 0.17s 1 cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes slideIn {
	0% {
		margin-left: 200px;
		opacity: 0.5;
	}
	100% {
		margin-left: 0;
		opacity: 1;
	}
}

.popping {
	animation: popOff 0.1s 1 cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes popOff {
	0% {
		opacity: 1;
		scale: 1;
	}
	100% {
		opacity: 0.5;
		scale: 0.7;
	}
}

.error {
	color: var(--text-danger);
}

.success {
	color: var(--text-positive);
}

.warning {
	color: var(--text-warning);
}

.system {
	color: var(--text-brand);
}
