.layerContainer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: none !important;
	pointer-events: none;
	z-index: 1002;
}

.layer {
}

.menu {
}
.submenu {
	pointer-events: all !important;

	position: relative;
	border-radius: 5px;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	word-wrap: break-word;
	z-index: 1002;
	will-change: transform;
	pointer-events: none;
	-webkit-box-shadow: var(--elevation-high);
	box-shadow: var(--elevation-high);

	padding: 8px 8px;
	white-space: nowrap;
}

.menuRight {
	transform-origin: 0 50%;
	-webkit-transform-origin: 0 50%;
}

.menuTop {
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

.menuBottom {
	transform-origin: 0 50%;
	-webkit-transform-origin: 0 50%;
}

.menuPrimary {
	background-color: var(--background-floating);
}

.normal {
	color: var(--interactive-normal);
}
.danger {
	color: var(--text-danger);
}
.system {
	color: var(--text-brand);
}

.separatorItem {
	margin: 4px;
	box-sizing: border-box;
	appearance: none;
	height: 1px;
	background-color: var(--background-accent);
	border: none;
	pointer-events: none;
}
.buttonItem {
	padding: 8px;
	user-select: none;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 3px;
}
.buttonItem:hover {
	color: white;
	background-color: var(--brand-experiment-560);
}

.buttonItem.danger:hover {
	background-color: var(--status-danger-background);
}
.buttonItemContent {
	flex: 1 1 auto;
}
.buttonItemIcon {
	flex: 0 0 auto;
	height: 18px;
	width: 18px;
	margin-left: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.buttonItemIcon > svg {
	width: 100%;
	height: 100%;
}
.buttonItem:hover [data-hide-on-hover] {
	display: none !important;
}
.buttonItem:not(:hover) [data-hide-on-unhover] {
	display: none !important;
}

.submenuItem {
}
.submenuItemCaretIcon {
	width: 10px;
	height: 10px;
}
.submenuItemSubmenu {
	position: absolute;
	width: fit-content;
	padding: 0px 16px;

	cursor: default;
}
