.wrapper {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--background-primary);
	height: auto;
	width: 500px;
	border-radius: 10px;
	padding: 20px;
	animation: pop-fade 0.25s 1 forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes pop-fade {
	0% {
		opacity: 0.2;
		transform: translate(-50%, -50%) scale(0.7);
	}
	100% {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}

.form {
	display: flex;
	flex-direction: column;
	padding-top: 80px;
}

.logo {
	height: 175px;
	width: 175px;
	background-color: var(--background-tertiary);
	border-radius: 100%;
	position: absolute;
	left: 50%;
	top: -90px;
	transform: translateX(-50%);
}

.input {
	display: block;
	width: 100%;
	border-radius: 3px;
	border-width: 0px;
	color: var(--text-normal);
	font-size: 16px;
	font-family: var(--font-primary);
	font-weight: 300;
	padding: 10px 15px;
	margin: 10px 0;
	background-color: var(--deprecated-text-input-bg);
	border: 1px solid var(--deprecated-text-input-border);
	transition: border-color 0.2s ease-in-out;
}

.input:hover {
	border-color: var(--deprecated-text-input-border-hover);
}

.input:focus {
	border-color: var(--text-link);
}

.submit {
	display: block;
	width: 100%;
	background-color: var(--brand-experiment);
	border-radius: 3px;
	border-width: 0px;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	font-family: var(--font-primary);
	padding: 10px 15px;
	cursor: pointer;
	transition:
		background-color 0.17s ease,
		color 0.17s ease;
}

.submit:hover {
	background-color: var(--brand-experiment-560);
}

.submit:active,
.disabled {
	background-color: var(--brand-experiment-600);
}
